@charset "utf-8";
* {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
ul {
    padding: 0;
}
body {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}
.main_header {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.mainvisual {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.logo {
    width: 110px;
    height: 15px;
}
.wrap {
    display: flex;
    align-items: center;
    margin: 0 auto 30px auto;
    padding: 32px 0;
}
.header--h1 {
    width: 110px;
    line-height: 1px;
    margin-left: 50px;
}
.header--nav {
    display: flex;
    gap: 30px;
    margin-left: 50px;
    font-size: 13px;
}
.content {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 35px;
}
.content--img {
    width: 50%;
}
.content--text {
    width: 50%;
    padding: 50px;
}
.content--text p:nth-child(1) {
    font-size: 1.75rem;
}
.content--text p:nth-child(2) {
    margin-bottom: 25px;
}
.row-reverse {
    flex-direction: row-reverse;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

@media  screen and (max-width: 767px) {
    .wrap {
        width: 100%;
        padding: 20px 18px;
    }
    .header--h1 {
        width: 110px;
        line-height: 1px;
        margin-left: 50px;
    }
    .container,.main_header {
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        list-style: none;
        padding-bottom: 0px;
    }
    .content--img {
        width: 100%;
        margin-bottom: 10px;
    }
    .content--text {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .content--text p:nth-child(1) {
        font-size: 1.25rem;
    }
    .content--text p:nth-child(2) {
        margin-bottom: 25px;
    }
}